@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    120deg,
    rgba(124, 134, 223, 1) 0%,
    rgba(222, 227, 253, 1) 100%
  );
  height: auto;
}

.inherit {
  position: inherit;
}
