@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    120deg,
    rgba(124, 134, 223, 1) 0%,
    rgba(222, 227, 253, 1) 100%
  );
  height: auto;
}

.inherit {
  position: inherit;
}
blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  border-radius: 5px;
}

blockquote p::before {
  content: "\201C";
}

blockquote p::after {
  content: "\201D";
}

@media (min-width: 1280px) {
  .twitch-live {
    width: 1030px;
  }
  .twitch-live-player {
    width: 900px;
  }
  .xxx {
    margin-left: 0px !important;
    min-width: 90px !important;
    text-align: center !important;
  }
  .xxxx {
    margin-left: 0px !important;
  }
}
.qq {
  color: white;
  text-shadow: rgb(0, 0, 0) 3px 3px 0px;
}

.qw {
  color: rgb(255, 255, 255);
  /* text-shadow: rgb(240, 240, 240) 1px 1px 0px; */
}

.text_div {
  background-color: rgb(0 0 0 / 27%);
}

tr {
  border-bottom: 1px solid #ddd;
}
